<htpl>
    <main>
        <<stream::(in) v>>
        <in x,i,j,tmp,a,b/>
        <take x/>
        <# f(i=0,i<x,i++)
            <in y/>
            <take y/>
            <<v.plus(y)>>
        #>
        <log>The original Array is : \n</log>
        <<v.show()>>
        <# f(i=0,i<x-1,i++)
            <## f(j=0,j<x-i-1,j++)
                <% a = v[j] %>
                <% b = v[j+1] %> 
                <?if(a>b)
                    <% tmp = v[j] %>
                    <% v[j] = v[j+1] %>
                    <% v[j+1] = tmp %>
                ?>
            ##>
        #>
        <log>The Sorted Array is \n</log>
        <<v.show()>>
    </main>
</htpl>